.letsConnectSection {
  padding: 4rem 0;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 300px;
}

.heading {
    font-weight: 300;
}

.copyButtonLinkedIn {
    color: var(--primary);
    border: 1px solid var(--primary);
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.875rem 2rem;
    display: flex;
    min-width: 200px;
    letter-spacing: -0.05px;
    font-weight: 600;
    min-width: 300px;
}

.copyButtonLinkedIn:hover {
  border: 2px solid var(--primary);
  transform: scale(1.05) translateY(-2px) rotate(-2deg);
  transition: all 0.3s ease;
}

.copyButtonLinkedIn:active {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.copyButtonLinkedIn:focus {
  outline: 2px solid var(--accent-secondary);
  outline-offset: 2px;
}

/* Success state when email is copied */
.copyButtonLinkedIn[data-copied="true"] {
  background: var(--primary);
  color: var(--primary-foreground);
}


.copyButton {
    background: var(--primary);
    color: var(--primary-foreground);
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0.875rem 2rem;
    display: flex;
    min-width: 200px;
    letter-spacing: -0.05px;
    font-weight: 600;
    min-width: 300px;
  }
  
  .copyButton:hover {
    background: var(--primary);
    transform: scale(1.05) translateY(-2px) rotate(-2deg);
    transition: all 0.3s ease;
  }
  
  .copyButton:active {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .copyButton:focus {
    outline: 2px solid var(--accent-seco);
    outline-offset: 2px;
  }
  
  /* Success state when email is copied */
  .copyButton[data-copied="true"] {
    background: var(--primary);
    color: var(--primary-foreground);
  }

  .buttonContainer {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
  

@media (max-width: 768px) {
  .letsConnectSection {
    padding: 3rem 0;
  }
  
  .container {
    padding: 0 1rem;
    flex-direction: column;
  }
  
  .copyButton {
    padding: 0.875rem 1.5rem;
    font-size: 1.1rem;
    width: 100%;
  }

  .copyButtonLinkedIn {
    padding: 0.875rem 1.5rem;
    font-size: 1.1rem;
    width: 100%;

  }

  .buttonContainer {
    flex-direction: column;
    width: 100%;
  }
}
