.heroBackground {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.heroBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.contentWrapper {
  position: relative;
  z-index: 2;
}


@media (max-width: 768px) {
  .heroBackground {
    background-size: 100%;
    background-position: top;
  }
}
